<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mapper.CredentialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jason.entity.Credential">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="signer" property="signer" />
        <result column="argorithm" property="argorithm" />
        <result column="expire_at" property="expireAt" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, app_secret, signer, argorithm, expire_at, created_at, updated_at
    </sql>

    <select id="getByParam" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from credential
        where 1=1
        <if test="appId != null">
          and app_id = #{appId}
        </if>
        <if test="appSecret != null">
            and app_secret = #{appSecret}
        </if>
        limit 1
    </select>

</mapper>
